<header>
  <div class="wrap">
    <img src="../assets/logo2.png" alt="logo" class="logo" />
    <nav>
      <ul>
        <li>Menu</li>
        <li>Plany</li>
        <li>Dobierz diete</li>
        <li>Dostawa</li>
        <li>Kontakt</li>
      </ul>
    </nav>
  </div>
  <div class="signIn">
    <i (click)="modal.openModal()" class="fas fa-sign-in-alt"> </i>
  </div>
</header>
<h2 class="menu-title">Nasze menu jest bogate w wiele różnorodnych kuchni!</h2>

<section class="menu">
  <div class="card">
    <p class="title">Kuchnia śródziemnomorska</p>
    <div class="image"></div>
  </div>
  <div class="card">
    <p class="title">Kuchnia wegetariańska</p>
    <div class="image"></div>
  </div>
  <div class="card">
    <p class="title">Kuchnia polska</p>
    <div class="image"></div>
  </div>
</section>

<p class="description">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam unde iste
  repellat ab quam ullam cum tempora voluptatum labore delectus cupiditate
  voluptates facere, optio ex minus tenetur non debitis. Ducimus! Adipisci, sint
  sunt sed magni ad praesentium, veritatis et, architecto harum beatae nobis rem
  reprehenderit ipsa corporis. Sit reprehenderit illum magni sunt molestias
  dolorem, possimus, est ullam voluptas, fuga doloribus. Labore cumque magnam
  eaque. Possimus enim earum facere iure neque ipsam, similique repudiandae
  suscipit, sapiente explicabo pariatur cum consequuntur aliquid reiciendis,
  amet placeat veritatis asperiores optio consequatur recusandae. Asperiores,
  quibusdam. Provident quae quasi qui doloribus quibusdam consequuntur! Magni,
  placeat impedit architecto laboriosam vero enim animi! Ducimus nam non, earum
  est recusandae dolorem sequi fugit cum molestias eaque perferendis fuga optio.
  Officiis nulla rerum vero at, error provident voluptatibus illum consequuntur
  natus facere fuga ex non vitae eius, corporis hic! Enim ea dolorem tempora
  consequuntur suscipit incidunt natus. Vel, sed necessitatibus. Sunt dolor
  error modi soluta aliquam sapiente suscipit vel ad nemo iusto dolorum nihil
  officiis, quis aliquid vitae illum quos asperiores exercitationem assumenda
  corporis nobis. Et sequi repellendus quia iste?
</p>

<div class="baner">
  <span>Szybko</span>
  <span>Smacznie</span>
  <span>Wygodnie</span>
</div>

<section class="diets">
  <div class="diet-card">
    <p class="diet-title">Dieta samuraja</p>
    <div class="card-wrapper">
      <img src="../assets/samuraj.jpg" alt="" class="diet-image" />
      <p class="diet-description">
        Jadłospis bazuje na naturalnych produktach: warzywach, owocach, dobrej
        jakości mięsie i rybach, jajach, oliwie z oliwek, bezglutenowych zbożach
        i pseudozbożach. Jest dietą dedykowaną dla osób intensywnie ćwiczących.
        Rozkład posiłków powinien być dostosowany do treningów.
      </p>
    </div>
    <div class="diet-add-btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="diet-card">
    <p class="diet-title">Dieta ketogeniczna</p>
    <div class="card-wrapper">
      <img src="../assets/keto.jpg" alt="" class="diet-image" />
      <p class="diet-description">
        Dieta ketogeniczna bazuje na tłustych produktach (mięso, oleje,
        orzechy), a także rezygnacji z węglowodanów. Dieta ketogenna powoduje
        dość duży spadek masy ciała w krótkim czasie, przy jednoczesnym
        ograniczeniu apetytu. Z tego powodu cieszy się dużą popularnością.
      </p>
    </div>
    <div class="diet-add-btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="diet-card">
    <p class="diet-title">Dieta wegetariańska</p>
    <div class="card-wrapper">
      <img src="../assets/vegan.jpg" alt="" class="diet-image" />
      <p class="diet-description">
        Dieta wegetariańska bazuje na nieprzetworzonych produktach roślinnych,
        zawsze powinna być odpowiednio zbilansowana. Wegetarianie powinni
        zwracać szczególną uwagę na spożywanie pokarmów bogatych w wapń, żelazo
        i cynk.
      </p>
    </div>
    <div class="diet-add-btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="diet-card">
    <p class="diet-title">Dieta wysokobiałkowa</p>
    <div class="card-wrapper">
      <img src="../assets/protein.jpg" alt="" class="diet-image" />
      <p class="diet-description">
        Dieta wysokobiałkowa polega na ograniczaniu spożycia tłuszczu, przy
        jednoczesnym dostarczaniu organizmowi większej ilości białka.Dodatkowo
        białko ze swoimi właściwościami budulcowymi i odbudowującymi tkanki
        korzystanie działa na sylwetkę i osiągnięcia sportowców. Ponadto wyższa
        zawartość białka w diecie przyśpiesza spoczynkową przemianę materii.
      </p>
    </div>
    <div class="diet-add-btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="diet-card">
    <p class="diet-title">Dieta węglowodanowa</p>
    <div class="card-wrapper">
      <img src="../assets/carbo.jpg" alt="" class="diet-image" />
      <p class="diet-description">
        Bazę tego modelu stanowią produkty wysokowęglowodanowe charakteryzujące
        się niskim lub średnim indeksem glikemicznym. Dodatkowo dieta ta
        dopuszcza spożycie niskotłuszczowych źródeł protein. . Zgodnie z
        intencją jej twórców ma to pomóc w szybszej redukcji masy ciała lub
        wspomóc budowę masy mięśniowej.
      </p>
    </div>
    <div class="diet-add-btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="diet-card">
    <p class="diet-title">Dieta sirt</p>
    <div class="card-wrapper">
      <img src="../assets/sirt.jpg" alt="" class="diet-image" />
      <p class="diet-description">
        Zadaniem diety sirtfood jest zwiększenie ilości sirtuin w organizmie,
        czego przypuszczalnym efektem będzie spowolnienie starzenia się
        organizmu, przyspieszenie redukcji tkanki tłuszczowej, zwiększenie
        wrażliwości komórek na insulinę.
      </p>
    </div>
    <div class="diet-add-btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</section>

<h2 class="chart-title">
  Nasi klienci w przeprowadzonej ankiecie na pytanie czy poleciliby nas swoim
  znajomym w 87% odpowiedziała, że <span>TAK!</span>
</h2>
<div class="chart"></div>

<div class="wrapper">
  <div class="contact__container">
    <div class="contact__title">
      <h2>
        Skontaktuj się z nami
        <hr />
      </h2>
    </div>
    <form class="contact__form">
      <p>Imię</p>
      <input class="contact__form-input" type="text" />

      <p>Email</p>
      <input class="contact__form-input" type="email" />

      <p>Wiadomość</p>
      <textarea class="contact__form-textarea" type="text"></textarea>

      <input type="submit" value="Send message" />
    </form>
  </div>
</div>

<footer>
  <div class="socials">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
  </div>

  <div class="email">
    <p>Contact us: vibe@catering.com</p>
    <i class="fas fa-envelope-open-text"></i>
  </div>
</footer>

<app-modal #modal></app-modal>
